{% load static compress %}<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	{# <meta name="viewport" content="width=device-width, initial-scale=1.0"> #}
	<title>{% block title %}Gvis{% endblock %}</title>
	<link rel="shortcut icon" href="{% static 'pages/favicon.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="http://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css">
	{% compress css %}
		<link rel="stylesheet" href="{% static 'pages/css/style.css' %}" type="text/css" charset="utf-8">
	{% endcompress %}
</head>
<body>
	<div class="container">
		<header class="page-header">
			<div class="row">
				<div class="logo">
					<a href="/"><img alt="Gvis" width="175" height="175" src="{% static 'pages/img/logo.png' %}"></a>
				</div>
				<div class="col-xs-8">
					<h1>Gvis</h1>
					<h2>Программный комплекс для визуализации нестационарных течений</h2>
				</div>
			</div>
			<nav class="site-menu row">
				<ul class="col-xs-12">
					<li{% if request.resolver_match.url_name == 'index' %} class="active"{% endif %}><a href="{% url 'index' %}">Главная</a></li>
					<li{% if request.resolver_match.url_name == 'download' %} class="active"{% endif %}><a href="{% url 'download' %}">Скачать</a></li>
					<li{% if request.resolver_match.url_name == 'gallery' %} class="active"{% endif %}><a href="{% url 'gallery' %}">Галерея</a></li>
					<li{% if request.resolver_match.url_name == 'help' %} class="active"{% endif %} class="disabled">{#<a href="{% url 'help' %}">#}Справка{#</a>#}</li>
					<li{% if request.resolver_match.url_name == 'feedback' %} class="active"{% endif %}><a href="{% url 'feedback' %}">Написать</a></li>
				</ul>
			</nav>
		</header>
		<div class="main">
			{% block main %}
			{% endblock %}
		</div>
	</div>
	<div class="container">
		<footer class="page-footer row">
				<p class="col-xs-3 copyright">Gvis &#64; 2015</p>
				<p class="col-xs-9 author">Каретный Роман, кафедра ЮНЕСКО по ИВТ</p>
		</footer>
	</div>
	<script src="http://yastatic.net/jquery/1.11.2/jquery.min.js"></script>
	{% compress js %}
		<script src="{% static 'pages/js/script.js' %}"></script>
	{% endcompress %}
</body>
</html>