{% extends 'pages/base.html' %}
{% load page_tags %}

{% block title %}Загрузки - {{ block.super }}{% endblock %}

{% block main %}
<div class="row download">
    {% with count=5 %}
        <div class="col-sm-5 links-wrap">
            <h3>Windows</h3>
            {% download_links 'WIN' count %}
        </div>
        <div class="col-sm-5 col-sm-offset-2 links-wrap">
            <h3>Linux</h3>
            {% download_links 'LIN' count %}
        </div>
    {% endwith %}
</div>
<p><a href="https://yadi.sk/d/-07mtXczjSM2V">Входные данные</a></p>
{% endblock %}