{% extends 'pages/base.html' %}

{% block title %}Галерея - {{ block.super }}{% endblock %}

{% block main %}
{% if examples %}
    {% for example in examples %}
        <div class="example">
            <h3 class="title">{{ example.title }}</h3>
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/{{ example.video_id }}?autohide=1&loop=1&playlist={{ example.video_id }}&rel=0&showinfo=0"
                    frameborder="0" allowfullscreen>
            </iframe>
            <p class="description">{{ example.description }}</p>
            <a href="{{ example.data_url }}">Скачать данные</a>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}
