{% extends 'pages/base.html' %}
{% load static %}

{% block main %}
<img class="app-img" alt="" width="710" height="377" src="{% static 'pages/img/gvis-cavity.jpg' %}">
<div class="row">
    <button class="btn btn-download"><a href="{% url 'download' %}">Скачать</a></button>
</div>
{% endblock %}