{% if gvis_links %}

    {% for link in gvis_links %}
            <div class="link">
                <a href="{{ link.download_url }}">Gvis-{{ link.get_os_type_display }}-{{ link.get_version }}</a>
                <div class="info">
                        <div class="toggle">
                            <span>Информация о выпуске</span>
                            <span class="toggle-text">(показать)</span>
                        </div>
                        <div class="details">{{ link.version_description|safe }}</div>
                    </div>
            </div>

    {% endfor %}
{% else %}
    <li><p>Скоро</p></li>
{% endif %}