{% extends 'pages/base.html' %}
{% load staticfiles page_tags %}

{% block title %}Написать - {{ block.super }}{% endblock %}

{% block main %}
<form class="feedback" action="{% url 'feedback' %}" method="post">
    {% if form %}
        {% if form.feedback_text.errors %}
            <ul class="errorlist">
                {% for error in form.feedback_text.errors %}
                    <li>Текст сообщения: {{ error|lower }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>{{ form.feedback_text.label_tag }}<br>
        {{ form.feedback_text }}</p>

        {% if form.author_name.errors %}
            <ul class="errorlist">
                {% for error in form.author_name.errors %}
                    <li>Ваше имя: {{ error|lower }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>{{ form.author_name.label_tag }}<br>
        {{ form.author_name }}</p>

        {% if form.author_email.errors %}
            <ul class="errorlist">
                {% for error in form.author_email.errors %}
                    <li>Адрес почты: {{ error|lower }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>{{ form.author_email.label_tag }}<br>
        {{ form.author_email }}</p>
        <p><input type="submit" value="Отправить"></p>
        <p class="note">* обязательно к заполнению</p>
    {% else %}
        <div class="complete">&#10004;</div>
        <p class="thankyou">Спасибо за ваш отзыв!</p>
    {% endif %}
</form>
{% endblock %}