* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 970px !important;
}

body {
	background: #eee;
}

/* header */

.page-header {
	padding: 0;
	margin: 0;
}

.page-header .row:first-child {
	padding: 0;
	margin: 0;
}

.logo {
	float: left;
}

.site-menu {
	margin: 0;
	height: 40px;
}

.site-menu ul {
	list-style: none;
	padding: 0;
}

.site-menu li {
	background: #303F9F;
	display: inline-block;
	font: 20px/40px Arial, sans-serif;
	width: 110px;
	text-align: center;
}

.site-menu li.active,
.site-menu li:hover {
	background: #5C6BC0;
}

.site-menu .disabled {
	background-color: #aaa;
	color: #fff;
}
.site-menu .disabled:hover {
	background-color: #aaa;
}


.site-menu a {
	color: #fff;
	text-decoration: none;
}

/* index */

.main {
	background: #fff;
	padding: 0;
	margin: 0;
	text-align: center;
}

.app-img {
	box-shadow: 0 5px 7px rgba(0,0,0,0.7);
	border: 1px solid #000;
}

.btn-download {
	padding: 0;
	height: 60px;
	width: 180px;
	font: bold 20px/60px Arial, sans-serif;
	text-transform: uppercase;
	background: #303F9F;
	box-shadow: 0 5px 7px rgba(0,0,0,0.7);
	margin: 20px 0;
}

.btn-download:hover {
	background: #5C6BC0;
}

.btn-download a {
	color: #fff;
	text-decoration: none;
}

/* footer */

.page-footer {
	background: #303F9F;
	height: 40px;
	color: #fff;
	font: 16px/40px Arial, sans-serif;
	padding: 0;
}

.page-footer.row {
	margin: 0;
}

.copyright {
	text-align: left;
}

.author {
	text-align: right;
}

/* download page */

.download {
	margin: 30px 0;
	padding: 30px;
}

.link {
	text-align: left;
}

.link a {
	padding: 2px 10px 5px 10px;
}

.links-wrap ul {
	list-style: none;
}

.info {
	text-align: left;
	background-color: #F8F7F7;
}

.toggle {
	cursor: pointer;
	padding: 2px 10px 5px 10px;
}

.toggle-text {
	font: 14px/14px Arial, sans-serif;
	border-bottom: 1px dashed #000;
}

.details {
	padding: 5px 10px;
	display: none;
}

/* feedback */

.feedback {
	color: #fff;
	border: 1px #303F9F solid;
	border-radius: 35px;
	background-color: #303F9F;
	width: 50%;
	margin: 10px auto;
	padding: 20px 0 0 0;
}

.feedback textarea,
.feedback input[type] {
	color: #000;
	padding: 5px 10px;
}

.feedback .note {
	text-align: left;
	margin-left: 30px;
}

.errorlist {
	margin: 0;
	color: #EC8D95;
	text-align: left;
	margin-left: 30px;
	list-style: none;
}

.complete {
	background-color: #2EDB1A;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	color: #fff;
	font-size: 40px;
	line-height: 100px;
	text-shadow: 0px 0px 5px #000;
	margin: 0px auto 20px auto;
}

.feedback .thankyou {
	font-weight: bold;
}